header .slogans h3.slogan-title, #auth_box h1, #auth_box h2 {
  padding-left: 0;
  background: none;
  margin-left: 0; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  margin: 0;
  color: #493026;
  font-family: Verdana, Geneva, sans-serif;
  line-height: 1.9em;
  background: url("../images/retina_wood.png") repeat fixed; }

h1 {
  background: url("../images/title_header_more.png") no-repeat left 22px;
  font-size: 2em;
  line-height: 2.5em; }

h1, h2 {
  margin: 0 0 25px 0; }

h1, h2, h3 {
  padding-left: 53px; }

h2 {
  background: url("../images/title_header_more.png") no-repeat left 8px;
  line-height: 2.5em;
  font-size: 1.5em; }

h3 {
  background: url("../images/title_header_more.png") no-repeat left -1px;
  line-height: 2.5em;
  font-size: 1.17em; }

h4 {
  font-size: 1.12em; }

h5 {
  font-size: .83em; }

h6 {
  font-size: .75em; }

h4 {
  padding-left: 25px;
  background: url("../images/title_header_h4.png") no-repeat left center; }

a {
  color: #95c948; }
  a:hover {
    color: #493026;
    text-decoration: none; }

ul {
  padding-left: 35px; }

li {
  list-style-type: circle; }

img {
  float: left;
  margin-right: 10px; }

blockquote {
  padding: 0;
  text-align: center;
  border-left: none; }

.edit-icon {
  font-size: 15px;
  margin-bottom: -15px; }
  .edit-icon a:hover {
    text-decoration: none; }

.rounded {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.roundedTop {
  -moz-border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px; }

header {
  min-height: 250px;
  background: #656561;
  margin-top: 50px;
  border-bottom: #878787; }
  header .logo {
    margin-top: 25px;
    min-height: 85px; }
  header .slogans {
    color: #ffffff;
    margin-top: 20px;
    font-size: 0.75em;
    line-height: 1.4em; }
    header .slogans h3.slogan-title {
      font-size: 1.5em;
      line-height: 1.5em;
      color: #90c544;
      margin-top: 0; }
  header .certification {
    margin: 40px 0 0;
    text-align: right; }
    header .certification img {
      padding-right: 20px; }

.subdivision {
  min-height: 600px;
  margin-top: 70px;
  padding: 35px 0;
  border-bottom: solid 1px #90c544;
  background: url("../images/sections-bcg-eeeeee.png") no-repeat bottom center; }
  .subdivision .section-content, .subdivision .section-content-page {
    overflow: hidden;
    color: #493026;
    padding: 10px 110px 40px 40px; }
    .subdivision .section-content .section-content__sub, .subdivision .section-content-page .section-content__sub {
      margin-top: 25px;
      padding-left: 0;
      padding-right: 0; }
  .subdivision .section-content-page {
    padding: 10px 30px 40px 40px; }
  .subdivision blockquote {
    display: inline-block;
    border: solid 1px #493026;
    width: 40%;
    margin: 20px;
    float: right;
    padding: 20px 10px; }
  .subdivision ul.inline li.node-readmore {
    display: none; }

.background-color_oneven {
  background-color: #e0e0e0; }

.background-color_even {
  background-color: #ffffff; }

.footer_wrap {
  margin-top: 70px;
  padding: 55px 0;
  background: url("../images/sections-bcg-footer.png") no-repeat bottom center;
  background-color: #878787;
  min-height: 370px;
  border: none;
  color: #ffffff; }
  .footer_wrap a {
    color: #87d1fe; }
    .footer_wrap a:hover {
      text-decoration: none;
      color: #87d1fe; }
  .footer_wrap .footer-left .contact {
    margin-bottom: 50px; }
    .footer_wrap .footer-left .contact .tel-not-mobile {
      display: block; }
    .footer_wrap .footer-left .contact .tel-mobile {
      display: none; }
      .footer_wrap .footer-left .contact .tel-mobile .btn {
        /*@extend button[type='submit'];*/
        border-radius: 0px;
        margin-top: 15px; }
        .footer_wrap .footer-left .contact .tel-mobile .btn-default {
          width: 100%;
          padding: 15px 0 10px; }
  .footer_wrap .footer-left .footer-menu .copy-conditions {
    font-size: 0.7em;
    cursor: pointer; }
    .footer_wrap .footer-left .footer-menu .copy-conditions .fa-copyright {
      padding-right: 5px; }
  .footer_wrap .footer-right {
    padding: 25px 0; }
    .footer_wrap .footer-right img {
      float: right;
      margin: 0; }

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(95, 132, 39, 0.8) url("../images/cd-top-arrow.svg") no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s; }
  .cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s; }
  .cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1; }
  .cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5; }
  .no-touch .cd-top:hover {
    background-color: #5f8427;
    opacity: 1; }

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(135, 135, 135, 0.9);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
  z-index: 999; }
  .modal-container .custom-modal {
    position: absolute;
    top: 20%;
    background-color: #ffffff;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.4);
    transition: margin 0.2s; }
    .modal-container .custom-modal .close-button {
      position: absolute;
      left: 100%;
      bottom: 100%;
      margin-left: 10px;
      margin-bottom: 10px;
      font-size: 30px;
      cursor: pointer; }
    .modal-container .custom-modal .content-modal {
      padding: 15px; }

.modal-open .modal-container {
  opacity: 1;
  pointer-events: all; }
  .modal-open .modal-container .modal {
    margin-top: -180px; }

.navbar-default {
  background: #878787;
  border-color: #90c544; }
  .navbar-default .navbar-toggle
  .icon-bar {
    background-color: #ffffff; }
  .navbar-default .navbar-nav > li > a {
    color: #ffffff; }
    .navbar-default .navbar-nav > li > a:hover {
      color: #493026; }
  .navbar-default .navbar-nav > li.contact-mobile-display {
    display: none; }

#toolbar {
  margin-top: 50px; }

.form-item {
  margin-top: 0;
  margin-bottom: 0; }

.nonmobile.contact-wrap {
  display: block;
  opacity: 1; }
  .nonmobile.contact-wrap h2 {
    color: #ffffff; }
  .nonmobile.contact-wrap .sticky {
    position: absolute;
    min-height: 500px;
    transition: 1.2s;
    border: solid 1px #90c544;
    background-color: #878787;
    padding: 10px 25px;
    margin-top: -50px;
    z-index: 999; }
    .nonmobile.contact-wrap .sticky.stick {
      position: fixed;
      background-color: rgba(135, 135, 135, 0.7);
      animation-name: stick_move_down;
      animation-duration: 1.2s;
      animation-fill-mode: forwards; }

@keyframes stick_move_down {
  from {
    top: 0; }
  100% {
    top: 120px; } }
.contact-wrap input[type='text'], .contact-wrap input[type='email'], .contact-wrap textarea, .contact-wrap button[type='submit'], .contact-wrap .footer_wrap .footer-left .contact .tel-mobile .btn, .footer_wrap .footer-left .contact .tel-mobile .contact-wrap .btn {
  width: 100%;
  padding: 5px;
  background: #656561;
  color: #ffffff;
  border: solid 1px #5f8427;
  margin-bottom: 25px; }
  .contact-wrap input[type='text']:focus, .contact-wrap input[type='email']:focus, .contact-wrap textarea:focus, .contact-wrap button[type='submit']:focus, .contact-wrap .footer_wrap .footer-left .contact .tel-mobile .btn:focus, .footer_wrap .footer-left .contact .tel-mobile .contact-wrap .btn:focus {
    border: solid 1px #5f8427; }
.contact-wrap input[type='submit'] {
  display: none; }
.contact-wrap button[type='submit'], .contact-wrap .footer_wrap .footer-left .contact .tel-mobile .btn, .footer_wrap .footer-left .contact .tel-mobile .contact-wrap .btn {
  width: auto;
  color: #878787; }
  .contact-wrap button[type='submit']:hover, .contact-wrap .footer_wrap .footer-left .contact .tel-mobile .btn:hover, .footer_wrap .footer-left .contact .tel-mobile .contact-wrap .btn:hover {
    border: solid 1px #5f8427; }
.contact-wrap .resizable-textarea .grippie {
  display: none; }
.contact-wrap .contactgegevens {
  color: #ffffff; }

::-webkit-input-placeholder {
  /* mixin placeholder */
  color: #878787; }
:-moz-placeholder {
  /* mixin placeholder */
  color: #878787; }
::-moz-placeholder {
  /* mixin placeholder */
  color: #878787; }
:-ms-input-placeholder {
  /* mixin placeholder */
  color: #878787; }
.mobile.contact-wrap {
  display: none; }

.teaserRealisatieWrap {
  display: inline-block;
  float: left;
  padding: 0 5px; }
  .teaserRealisatieWrap h3 {
    background: url("../images/title_header_h4.png") no-repeat left center;
    padding-left: 24px;
    margin-bottom: 15px;
    font-size: 0.8em; }
  .teaserRealisatieWrap img {
    margin-right: 0; }

.contentRealisatie .bodyRealisatie {
  padding-bottom: 20px; }
.contentRealisatie img {
  padding-bottom: 10px; }

.backto {
  padding-top: 25px; }

.overzicht-link {
  margin-top: 25px; }

.tab-content h2 {
  margin: 0; }

.nav-tabs {
  border-bottom: 1px solid #878787;
  margin: 20px 0 20px; }
  .nav-tabs > li > a:hover {
    background: transparent; }
  .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a {
    border: 1px solid #878787;
    border-bottom-color: transparent;
    background-color: transparent; }

@media only screen and (max-width: 479px) {
  .nav-tabs li > a {
    font-size: 0.75em;
    padding: 5px; } }
.edit-icon a:hover {
  color: #493026; }

@media (max-width: 991px) {
  .navbar-header {
    float: none; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .navbar-text {
    float: none;
    margin: 15px 0; }

  /* bij versie 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block !important; }

  .collapsing {
    overflow: hidden !important; } }
@media only screen and (max-width: 1366px) {
  /* css code voor tablets in landscape mode */ }
@media only screen and (max-width: 960px) {
  /* css code voor tablets in portrait mode */
  .navbar-default .navbar-nav > li.contact-mobile-display {
    display: block; }

  .nonmobile.contact-wrap {
    display: none; }

  .mobile.contact-wrap {
    display: block; }
    .mobile.contact-wrap h2 {
      color: #90c544;
      padding-bottom: 25px; }
    .mobile.contact-wrap input[type='text'], .mobile.contact-wrap input[type='email'], .mobile.contact-wrap textarea, .mobile.contact-wrap button[type='submit'], .mobile.contact-wrap .footer_wrap .footer-left .contact .tel-mobile .btn, .footer_wrap .footer-left .contact .tel-mobile .mobile.contact-wrap .btn {
      width: 100%; }

  .subdivision .section-content, .subdivision .section-content-page {
    padding: 10px 40px 40px 40px; } }
@media only screen and (max-width: 900px) {
  /* css code voor tablets in portrait mode */ }
@media only screen and (max-width: 801px) {
  /* css code voor tablets in portrait mode */ }
@media only screen and (max-width: 767px) {
  /* css code voor smartphones in landscape mode */ }
@media only screen and (max-width: 479px) {
  /* css code voor smartphones in portrait mode */
  .logo
  img {
    width: 85%;
    height: auto; }

  img {
    float: none;
    margin-right: 0; }

  header {
    min-height: 120px; }
    header .logo {
      text-align: center; }
    header .slogans, header .certification {
      display: none; }

  .subdivision {
    margin-top: 35px;
    background: none; }
    .subdivision h1 {
      padding-left: 53px;
      background: url("../images/title_header_more.png") no-repeat left 14px;
      line-height: 2em;
      padding-bottom: 15px; }
    .subdivision h2 {
      padding-left: 53px;
      background: url("../images/title_header_more.png") no-repeat left -3px;
      font-size: 1.2em;
      line-height: 1.5em;
      padding-bottom: 15px; }
    .subdivision blockquote {
      font-size: 0.85em; }
    .subdivision .section-content, .subdivision .section-content-page {
      padding: 10px 20px 20px 20px; }

  .background-color_oneven {
    background-color: #e0e0e0; }

  .background-color_even {
    background-color: #ffffff; }

  .footer_wrap {
    background: #878787; }
    .footer_wrap .footer-left .contact {
      margin-bottom: 30px; }
      .footer_wrap .footer-left .contact .tel-not-mobile {
        display: none; }
      .footer_wrap .footer-left .contact .tel-mobile {
        display: block; }
    .footer_wrap .footer-right {
      padding: 25px; }
      .footer_wrap .footer-right img {
        margin: 0; } }

/*# sourceMappingURL=style.css.map */
