@import "variabele";
//tabs op pagina BEKO voorstelling
.nav-tabs {
  border-bottom: 1px solid $lightblue;
  margin: 20px 0 20px;
  &>li>a:hover {
    background: transparent;
  }
  &>li.active>a:focus,
  &>li.active>a {
    border: 1px solid $lightblue;
    border-bottom-color: #ffffff;
  }
}