//===============================
// @@ ++ Footer region
//===============================
.footer_wrap {
  margin-top: 70px;
  padding: 55px 0;
  background: url("../images/sections-bcg-footer.png") no-repeat bottom center;
  background-color: $default-color;
  min-height: 370px;
  border: none;
  color: $white;
  a {
    color: $lightblue;
    &:hover {
      text-decoration: none;
      color: $lightblue;
    }
  }
  .footer-left {
    .contact {
      margin-bottom: 50px;
      .tel-not-mobile {
        display: block;
      }
      .tel-mobile {
        display: none;
        .btn {
          /*@extend button[type='submit'];*/
          @extend button[type='submit'];
          border-radius: 0px;
          margin-top: 15px;
          &-default {
            width: 100%;
            padding: 15px 0 10px;
          }
        }
      }
    }
    .footer-menu {
      .copy-conditions {
        font-size: 0.7em;
        cursor: pointer;
        .fa-copyright {
          padding-right: 5px;
        }
      }
    }
  }
  .footer-right {
    padding: 25px 0;
    img {
      float: right;
      margin: 0;
    }
  }
}
