//========================
// @@ ++ Subdivision
//========================

.subdivision {
  min-height: 350px;
  margin-top: 70px;
  padding: 35px 0;
  border-bottom: $borderBottom;
  .section-content {
    background: #ffffff;
    //background: -webkit-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
    color: #000000;
    padding: 10px 110px 40px 40px;
    @include roundcorners(25px);
  }

  //Dit om de readmore te verwijderen
  ul.inline {
    li.node-readmore {
      display: none;
    }
  }
}

.blue_background {
  @include bg-gradient-t2b($darkbleu, $blue);
}

.black_background {
  @include bg-gradient-t2b($darkgrey, $darkbleu);
}