//========================
// @@ ++ Subdivision
//========================

.subdivision {
  min-height: 600px;
  margin-bottom: 70px;
  padding: 35px 0;
  border-bottom: solid 1px $logo-color;
  background: url("../images/sections-bcg-eeeeee.png") no-repeat bottom center;
  .section-content {
    overflow: hidden;
    color: $brown;
    padding: 10px 110px 40px 40px;
    .section-content__sub {
      margin-top: 25px;
      padding-left: 0;
      padding-right: 0;
    }
  }
  .section-content-page {
    @extend .section-content;
    padding: 10px 30px 40px 40px;
  }
  blockquote {
    display: inline-block;
    border: solid 1px $brown;
    width: 40%;
    margin: 20px;
    float: right;
    padding: 20px 10px;
  }

  //Dit om de readmore te verwijderen
  ul.inline {
    li.node-readmore {
      display: none;
    }
  }
}

.background-color_oneven {
  background-color: $lighter;
}

.background-color_even {
  background-color: $white;
}
