//variabele
$blue: #0173b9;
$lightblue: #87d1fe;
$midleblue: #22aafd;
$darkbleu: #003353;
$black: #0e1d25;
$darkgrey: #103042;
$redbeko: #fe0000;
$borderBottom: solid 2px $redbeko;
$wood_background-grey: url("../images/background-retina_wood-min.png")repeat fixed;
$wood_background-brown: url("../images/retina_wood.png")repeat fixed;
$heading1to3: url("../images/title_header.png") no-repeat left center;
$heading4: url("../images/title_header_h4.png") no-repeat left center;