//=========================
// @@ ++ Modal
//=========================
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($blue, 0.9);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
  z-index: 999;
  .custom-modal {
    position: absolute;
    top: 20%;
    @include roundcorners(25px);
    background-color: white;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.4);
    transition: margin 0.2s;
    .close-button {
      position: absolute;
      left:100%;
      bottom:100%;
      margin-left:10px;
      margin-bottom:10px;
      font-size: 30px;
      cursor: pointer;
    }
    .content-modal {
      padding: 15px;
    }
  }
}

//Javascript Interactions
//deze class modal-open wordt toegevoegd aan
//de class modal-container via de js functie
//in custom-modal.js
.modal-open {
  .modal-container {
    opacity:1;
    pointer-events:all;

    .modal {
      margin-top:-180px;
    }
  }
}