//==========================================
// ## ++ Forms
//==========================================
//Reset van de form items
.form-item {
  margin-top: 0;
  margin-bottom: 0;
}

.nonmobile.contact-wrap {
  display: block;
  opacity: 1;
  h2 {
    color: $white;
    padding: 0 0 25px 0;
    background: none;
  }
  .sticky {
    position: absolute;
    min-height: 500px;
    background: $greenMain;
    padding: 10px 25px;
    //border: solid 1px $brownLightest;
    margin-top: -50px;
    z-index: 999;
    &.stick {
      top: 120px;
      position: fixed;
    }
  }
}

.contact-wrap {
  input[type='text'], input[type='email'], textarea {
    width: 100%;
    padding: 5px;
    background: $greenDarkest;
    border: solid 1px $greenDarkest;
    margin-bottom: 25px;
    &:focus {
      border: solid 1px $greenDarkest;
    }
  }
  input[type='submit'] {
    display: none;
  }
  button[type='submit'] {
    @extend textarea;
    width: auto;
    color: $greenMain;
    &:hover {
      border: solid 1px $greenDarkest;
    }
  }
  .resizable-textarea {
    .grippie {
      display: none;
    }
  }
  .contactgegevens {
    color: $white;
  }
}



@include placeholder {
  /* mixin placeholder */
  color: $greenMain;
}

// contact formulier voor mobiele toestellen
.mobile.contact-wrap {
  display: none;
}