//==========================================
// ## ++ Forms
//==========================================
//Reset van de form items
.form-item {
  margin-top: 0;
  margin-bottom: 0;
}

.nonmobile.contact-wrap {
  display: block;
  opacity: 1;
  h2 {
    color: $white;
    padding: 0 0 25px 0;
    background: none;
  }
  .sticky {
    position: absolute;
    min-height: 500px;
    transition: 1.2s;
    border: solid 1px $logo-color;
    background: $default-color;
    padding: 10px 25px;
    margin-top: -50px;
    z-index: 999;
    &.stick {
      position: fixed;
      background: rgba(135,135,135, 0.7);
      animation-name: stick_move_down;
      animation-duration: 1.2s;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes stick_move_down {
  from {
    top: 0;
  }
  100% {
    top: 120px;
  }
}

.contact-wrap {
  input[type='text'], input[type='email'], textarea {
    width: 100%;
    padding: 5px;
    background: $darker;
    color: $white;
    border: solid 1px $greenDarkest;
    margin-bottom: 25px;
    &:focus {
      border: solid 1px $greenDarkest;
    }
  }
  input[type='submit'] {
    display: none;
  }
  button[type='submit'] {
    @extend textarea;
    width: auto;
    color: $default-color;
    &:hover {
      border: solid 1px $greenDarkest;
    }
  }
  .resizable-textarea {
    .grippie {
      display: none;
    }
  }
  .contactgegevens {
    color: $white;
  }
}



@include placeholder {
  /* mixin placeholder */
  color: $default-color;
}

// contact formulier voor mobiele toestellen
.mobile.contact-wrap {
  display: none;
}