//==========================================
// ## ++ Forms
//==========================================

input[type='text'], input[type='email'], textarea {
  width: 100%;
  padding: 5px;
  background: $midleblue;
  border: solid 1px $lightblue;
  margin-bottom: 25px;
  &:focus {
    border: solid 1px $midleblue;
  }
}
button[type='submit'] {
  @extend textarea;
  width: auto;
  color: $lightblue;
  &:hover {
    border: solid 1px $midleblue;
  }
}

@include placeholder { /* mixin placeholder */
  color: $lightblue;
}

// contact formulier voor mobiele toestellen
.contact-mobile-display {
  display: none;
}