//==================================================
// ## ++ Navigation
//==================================================
.navbar-default {
  background: $blue;
  border-color: $midleblue;
  .navbar-nav > li > a {
    color: #ffffff;
    &:hover {
      color: $black;
    }
  }
  .navbar-nav > li {
    &.contact-mobile-display {
      display: none;
    }
  }
}

//=======================
// ## ++ Admin toolbar
//=======================
#toolbar {
  margin-top: 50px;
}