//==================================================
// ## ++ Navigation
//==================================================
.navbar-default {
  background: $default-color;
  border-color: $logo-color;
  .navbar-toggle
    .icon-bar {
      background-color: $white;
  }
  .navbar-nav > li > a {
    color: $white;
    text-decoration: none;
    &:hover {
      color: $brown;
    }
  }
  .navbar-nav > li {
    &.contact-mobile-display {
      display: none;
    }
  }
}

//=======================
// ## ++ Admin toolbar
//=======================
#toolbar {
  margin-top: 50px;
}