//============================================
// ## ++ Tabs op pagina BEKO voorstelling
// Was van toepassing voor de bootstrap tabs
// gebruik nu de module quicktabs eveneens
// de filename van het component
//============================================
.nav-tabs {
  border-bottom: 1px solid $greenLight;
  margin: 20px 0 20px;
  &>li>a:hover {
    background: transparent;
  }
  &>li.active>a:focus,
  &>li.active>a {
    border: 1px solid $greenLight;
    border-bottom-color: #ffffff;
  }
}
@media only screen and (max-width: 479px) {
  .nav-tabs {
    li > a {
      font-size: 12px;
      padding: 5px;
    }
  }
}