//============================================
// @@ ++ Edit icon bij node--article.tpl.php
//============================================
.edit-icon {
  font-size: 15px;
  margin-bottom: -15px;
  a {
    &:hover {
      text-decoration: none;
    }
  }
}
