//================================================
// ## ++ media query's
//================================================

@media only screen and (max-width: 1366px) {
  /* css code voor tablets in landscape mode */
}

@media only screen and (max-width: 960px) {
  /* css code voor tablets in portrait mode */
  // enkel gebruiken om te tonen zowel in de navigatie
  // als onderaan de pagina block
  .navbar-default {
    .navbar-nav > li {
      &.contact-mobile-display {
        display: block;
      }
    }
  }
  .nonmobile.contact-wrap {
    display: none;
  }
  .mobile.contact-wrap {
    display: block;
    h2 {
      color: $logo-color;
      padding-bottom: 25px;
    }
    //form items
    input[type='text'], input[type='email'], textarea {
      width: 100%;
    }
  }
  .subdivision {
    .section-content {
      padding: 10px 40px 40px 40px;
    }
  }
}

@media only screen and (max-width: 900px) {
  /* css code voor tablets in portrait mode */
}

@media only screen and (max-width: 801px) {
  /* css code voor tablets in portrait mode */
}

@media only screen and (max-width: 767px) {
  /* css code voor smartphones in landscape mode */
}

@media only screen and (max-width: 479px) {
  /* css code voor smartphones in portrait mode */

  .logo
    img {
      width: 85%;
      height: auto;
  }

  img {
    float: none;
    margin-right: 0;
  }

  header {
    min-height: 120px;
    .logo {
      text-align: center;
    }
    .slogans, .certification {
      display: none;
    }
  }

  //subdivision
  .subdivision {
    margin-top: 35px;
    background: none;
    h1 {
      padding-left: 53px;
      background: $heading1;
      line-height: 2em;
      padding-bottom: 15px;
    }
    h2 {
      padding-left: 53px;
      background: $heading2to3;
      font-size: 1.2em;
      line-height: 1.5em;
      padding-bottom: 15px;
    }
    blockquote {
      font-size: 0.85em;
    }
    .section-content {
      padding: 10px 20px 20px 20px;
    }
  }

  .background-color_oneven {
    background-color: $lighter;
  }

  .background-color_even {
    background-color: $white;
  }

  // footer
  .footer_wrap {
    background: $default-color;
    .footer-left {
      .contact {
        margin-bottom: 30px;
        .tel-not-mobile {
          display: none;
        }
        .tel-mobile {
          display: block;
        }
      }
      .footer-menu {
      }
    }
    .footer-right {
      padding: 25px;
      img {
        margin: 0;
      }
    }
  }
}