/*
*media query's
========================================================================*/

@media only screen and (max-width: 1366px) {
  /* css code voor tablets in landscape mode */
}

@media only screen and (max-width: 960px) {
  /* css code voor tablets in portrait mode */
  // enkel gebruiken om te tonen zowel in de navigatie
  // als onderaan de pagina block
  .navbar-default {
    .navbar-nav > li {
      &.contact-mobile-display {
        display: block;
      }
    }
  }
  .nonmobile-contact-wrap {
    display: none;
  }
  .contact-mobile-display {
    display: block;
    h2 {
      color: #ffffff;
      padding-bottom: 25px;
    }
    //form items
    input[type='text'], input[type='email'], textarea {
      width: 100%;
    }
  }
  .subdivision {
    .section-content {
      padding: 10px 40px 40px 40px;
    }
  }
}

@media only screen and (max-width: 900px) {
  /* css code voor tablets in portrait mode */
}

@media only screen and (max-width: 800px) {
  /* css code voor tablets in portrait mode */
}

@media only screen and (max-width: 767px) {
  /* css code voor smartphones in landscape mode */
}

@media only screen and (max-width: 479px) {
  /* css code voor smartphones in portrait mode */
  header {
    .logo, .certification {
      text-align: center;
    }
    .slogans {
      margin-top: 30px;
    }
    .certification {
      padding: 20px 0 20px;
    }
  }

  //subdivision
  .subdivision {
    margin-top: 35px;
    h1, h2 {
      padding-left: 53px;
      margin-left: -55px;
    }
    .section-content {
      padding: 10px 20px 20px 20px;
    }
  }

  // footer
  .footer_wrap {
    .footer-left {
      .contact {
        margin-bottom: 50px;
        .tel-not-mobile {
          display: none;
        }
        .tel-mobile {
          display: block;
        }
      }
      .footer-menu {
      }
    }
    .footer-right {
      padding: 25px;
      img {
        margin: 0;
      }
    }
  }
}